index.php

/application/.htaccess
/application/index.html
/application/cache/*
/application/config/*
!/application/config/facebook.php
/application/controllers/*
!/application/controllers/Welcome_fb_ion_auth.php
/application/core/*
/application/helpers/*
!application/helpers/facebook_helpers.php
/application/hooks/*
/application/language/*
/application/libraries/*
!application/libraries/Facebook.php
/application/logs/*
/application/models/*
!application/models/Facebook_model.php
/application/third_party/*
/application/views/*
!/application/views/fb_*

/system/
vendor/

composer.lock
